<div class="main">
  <div class="header">
    <div class="header-name">
      <h4 id="name">Technical at home</h4>
      <h6 id="subtext">By Codevelop</h6>
    </div>
    <div class="header-login">
      <app-login></app-login>
    </div>
  </div>
  <div class="body">
    <div id="principal-info">
      <button class="btn-launch">Try for free</button>
      <div class="code">Enter a discount code <br>
        <mat-form-field>
          <input matInput placeholder="Code">
        </mat-form-field>
      </div>
    </div>
    <app-slider style="z-index:5;"></app-slider>
  </div>
  <div class="technical">
    <app-tech-info></app-tech-info>
  </div>
  <div class="plans">

  </div>
  <div class="contact">
    <div class="txt">
      <ul style="list-style:none;">
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
      </ul>
    </div>
    <div class="pipe"></div>
    <div class="txt">
      <ul style="list-style:none;">
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
      </ul>
    </div>
    <div class="pipe"></div>
    <div class="txt">
      <ul style="list-style:none;">
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <p></p>
    @codeelop 2018
  </div>
</div>